<ion-header>
  <ion-toolbar>
    <ion-title>ejercicio2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container" style="width: 80%;margin: auto;">
    <ng-Container *ngIf="shown == false">
      <ion-button expand="full" (click)="mostrarNombre()">Mostrar Nombre</ion-button>
    </ng-Container>
    <ng-Container *ngIf="shown == true">
      <ion-button expand="full" (click)="ocultarNombre()">Ocultar Nombre</ion-button>
    </ng-Container>
    <h1 style="text-align: center;">{{nombre}}</h1>
    </div>
</ion-content>
