<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ejercicios</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container" style="width: 80%;margin: 40px auto;">
    <ion-button expand="block" href="ejercicio1">Ejercicio 1</ion-button>
    <ion-button expand="block" href="ejercicio2">Ejercicio 2</ion-button>
    <ion-button expand="block" href="ejercicio3">Ejercicio 3</ion-button>
    <ion-button expand="block" href="ejercicio4">Ejercicio 4</ion-button>
    <ion-button expand="block" href="ejercicio5">Ejercicio 5</ion-button>
    <ion-button expand="block" href="ejercicio6">Ejercicio 6</ion-button>
    <ion-button expand="block" href="ejercicio7">Ejercicio 7</ion-button>
    <br>
    <h1 style="text-align: center;">Relacion 2</h1>
    <ion-button expand="block" href="ejercicio8">Ejercicio 1</ion-button>
    <ion-button expand="block" href="ejercicio9">Ejercicio 2</ion-button>
    <ion-button expand="block" href="ejercicio10">Ejercicio 3</ion-button>
  </div>
</ion-content>
